= render_pretty_header 'Editing Club' do
  %p You may change this Club's details here.

  %p
    Each Customer may only have one Club. This Club is for the customer,
    = link_to @club.customer.name, @club.customer

= render :partial => 'form', :locals => { :club => @club }

%p.actions
  = link_to 'Back to Customer', @club.customer
