-# Required variables: "f" => a form_for instance
%table.waiting-order
  %thead.title
    %tr
      %th{:colspan => 2}
        Waiting Order
  %tbody
    %tr
      %th Publication
      %td= f.select :publication_id, Publication.tracking_standing_orders.order(:name).all.collect{|p| [ p.name, p.id ]}
    %tr
      %th # Copies
      %td= f.text_field :num_copies
    %tr
      %th Date Requested
      %td= f.date_field :request_date
    %tr
      %th Comments
      %td= f.text_field :comments
