= render_pretty_header('SurveyMonkey Surveys') do
  %p All surveys imported from SurveyMonkey.

= link_to('Import New Survey', new_admin_survey_path)

%ul
  - @surveys.each do |survey|
    %li
      %strong= survey.title
      = button_to('Destroy', [ :admin, survey ], method: :delete, data: { confirm: 'Are you sure you want to delete this Survey and all its Responses?' })
