-# Required variables: "orders" => list of orders

%table.customer-orders
  %thead.title
    %tr
      %th{:colspan => (current_user.has_role?('edit-orders') ? 5 : 4)}
        = "Orders (#{orders.length})"
  %thead
    %tr
      %th Issue
      %th Order Date
      %th
        %abbr{:title => 'Delivery Method'} DM
      %th Qty
      - if current_user.has_role?('edit-orders')
        %th
  %tbody
    - orders.each do |order|
      = render('customer_orders/tr', order: order)
    - if current_user.has_role?('edit-orders')
      %tr
        %td.add{:colspan => current_user.has_role?('edit-orders') && 5 || 4}
          = link_to('Add New Order', new_customer_order_path(@customer), class: 'in-modal-dialog')
