= render_pretty_header('Issue Timeline') do
  %p This is a list of issues sorted by date.

%table.data
  %thead
    %tr
      %th Publication
      %th Issue
      %th Date
  %tbody
    - @issues.each do |issue|
      %tr{:class => cycle('odd', 'even')}
        %td.publication= link_to(issue.publication.name, issue.publication)
        %td.issue= link_to(issue.number_and_name, issue)
        %td.date= issue.issue_date.to_formatted_s(:long)
