div.report-form
  :margin 1em

  h2
    :font-size inherit
    :font-weight bold
    :margin 0

  p
    :margin-top 0
    :font-size .8em

  form
    :margin-top 1em
    :margin-left 2em

div.reports
  :margin-left 168px

p.report
  :margin-left 0 !important

iframe.svg-map
  :float left
  :width 600px
  :height 581px
  :border 2px solid black
  :margin 0
  :padding 0

form.svg-map-legend
  :float left
  :white-space nowrap
  :border 2px solid black
  :padding 1em

  ul
    :margin 0
    :padding 0

  li
    :margin 0
    :padding 0
    :list-style none
    :line-height 1.8
  
  div.svg-map-swatch
    :display inline-block
    :border 1px solid black
    :width 1em
    :height 1em
    :margin-right .25em
