form.search
  :text-align center

  input, select
    :font-size inherit

  table
    :width 100%
    :border none

    td
      :border none
      :margin 0
      :padding 0 6px
      :white-space nowrap
      :width 1em

      input[type="text"]
        :width 100%

    td.stretch
      :padding 1px 3px
      :width auto

  table.search
    :clear both
    :margin 1em 5% .5em
    :width 90%
    :font-size 1.1em

  div.facets
    :display inline-block
    :text-align center
    :font-size .9em
    :line-height 1.4
    :vertical-align middle

  p
    :display inline-block
    :margin 0 1em 0 0
    :padding 0

  ul.facets
    :display inline
    :margin 0
    :padding 0
    :text-align left

  li.facet, li.non-facet
    :list-style none
    :display inline-block
    :margin 0 .5em
    :padding 0
    :background = !background_color

    &:hover ul
      :display block

  h3
    :font-family inherit
    :font-weight inherit
    :font-size inherit
    :margin 0
    :padding 0
    :text-decoration underline
    :cursor pointer

  ul.rows
    :margin 0
    :padding .5em
    :display none
    :position absolute
    :background = !background_color
    :border 2px solid !border_color
    :border-top none
    :z-index 2

    li
      :list-style none
      :margin 0
      :padding 0
      :line-height 1.5

      a:hover
        :text-decoration underline
