/*
Syntax error: Undefined variable: "$border_color".
        on line 2 of /home/adam/src/feminadb/public/stylesheets/sass/data-table.sass

1: table.customers, table.clubs, table.packing-instructions, table.customer-orders, table.customer-standing-orders, table.customer-waiting-orders, table.customer-notes, table.issue-orders, table.issue-notes, table.report, table.distribution-quote-request, table.distribution-list, table.publication-district-breakdown, table.issue-district-breakdown, table.issue-district-breakdown-orders, table.customer-types, table.inventory, table.users, table.regions, table.warehouses, table.delivery-methods, table.versions, table.data
2:   :border = 2px solid !border_color
3:   :margin 1em auto
4: 
5:   tbody tr:first-child td
6:     :padding-top 8px
7: 

Backtrace:
/home/adam/src/feminadb/public/stylesheets/sass/data-table.sass:2
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/script/variable.rb:39:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/script/node.rb:61:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/script/operation.rb:67:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/script/node.rb:61:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/prop_node.rb:137:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:273:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:185:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `map'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:285:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/rule_node.rb:209:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:273:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:185:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `map'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:285:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/root_node.rb:44:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:273:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:185:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/root_node.rb:27:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:119:in `render'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:331:in `update_stylesheet'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:226:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:219:in `each'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:219:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:217:in `each'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:217:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:191:in `check_for_updates'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin/rack.rb:43:in `call'
/var/lib/gems/1.8/gems/activerecord-3.0.0.beta3/lib/active_record/query_cache.rb:31:in `call'
/var/lib/gems/1.8/gems/activerecord-3.0.0.beta3/lib/active_record/connection_adapters/abstract/query_cache.rb:35:in `cache'
/var/lib/gems/1.8/gems/activerecord-3.0.0.beta3/lib/active_record/query_cache.rb:11:in `cache'
/var/lib/gems/1.8/gems/activerecord-3.0.0.beta3/lib/active_record/query_cache.rb:30:in `call'
/var/lib/gems/1.8/gems/activerecord-3.0.0.beta3/lib/active_record/connection_adapters/abstract/connection_pool.rb:365:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/head.rb:14:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/params_parser.rb:19:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/flash.rb:167:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/session/cookie_store.rb:107:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/cookies.rb:202:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta3/lib/active_support/callbacks.rb:410:in `_run_call_callbacks'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta3/lib/active_support/callbacks.rb:88:in `send'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta3/lib/active_support/callbacks.rb:88:in `run_callbacks'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/sendfile.rb:105:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/show_exceptions.rb:48:in `call'
/var/lib/gems/1.8/gems/railties-3.0.0.beta3/lib/rails/rack/logger.rb:13:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/runtime.rb:17:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta3/lib/action_dispatch/middleware/static.rb:30:in `call'
/var/lib/gems/1.8/gems/railties-3.0.0.beta3/lib/rails/application.rb:132:in `call'
/var/lib/gems/1.8/gems/railties-3.0.0.beta3/lib/rails/application.rb:81:in `send'
/var/lib/gems/1.8/gems/railties-3.0.0.beta3/lib/rails/application.rb:81:in `method_missing'
/var/lib/gems/1.8/gems/railties-3.0.0.beta3/lib/rails/rack/debugger.rb:21:in `call'
/var/lib/gems/1.8/gems/railties-3.0.0.beta3/lib/rails/rack/log_tailer.rb:15:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/chunked.rb:15:in `call'
/var/lib/gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:76:in `pre_process'
/var/lib/gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:74:in `catch'
/var/lib/gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:74:in `pre_process'
/var/lib/gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:57:in `process'
/var/lib/gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:42:in `receive_data'
/var/lib/gems/1.8/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/var/lib/gems/1.8/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/var/lib/gems/1.8/gems/thin-1.2.7/lib/thin/backends/base.rb:57:in `start'
/var/lib/gems/1.8/gems/thin-1.2.7/lib/thin/server.rb:156:in `start'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/handler/thin.rb:14:in `run'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/server.rb:155:in `start'
/var/lib/gems/1.8/gems/railties-3.0.0.beta3/lib/rails/commands/server.rb:62:in `start'
/var/lib/gems/1.8/gems/railties-3.0.0.beta3/lib/rails/commands.rb:42
script/rails:10:in `require'
script/rails:10
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$border_color\".\A         on line 2 of /home/adam/src/feminadb/public/stylesheets/sass/data-table.sass\A \A 1: table.customers, table.clubs, table.packing-instructions, table.customer-orders, table.customer-standing-orders, table.customer-waiting-orders, table.customer-notes, table.issue-orders, table.issue-notes, table.report, table.distribution-quote-request, table.distribution-list, table.publication-district-breakdown, table.issue-district-breakdown, table.issue-district-breakdown-orders, table.customer-types, table.inventory, table.users, table.regions, table.warehouses, table.delivery-methods, table.versions, table.data\A 2:   :border = 2px solid !border_color\A 3:   :margin 1em auto\A 4: \A 5:   tbody tr:first-child td\A 6:     :padding-top 8px\A 7: "; }
