/*
Sass::SyntaxError: Undefined variable: "!border_color".
on line 2 of /home/adam/src/feminadb/public/stylesheets/sass/data-table.sass

1: table.customers, table.clubs, table.approved-special-orders, table.pending-special-orders, table.packing-instructions, table.publication-standing-orders, table.publication-waiting-orders, table.customer-orders, table.customer-special-orders, table.customer-standing-orders, table.customer-waiting-orders, table.customer-special-order-lines, table.customer-notes, table.issue-orders, table.issue-notes, table.special-orders, table.special-order-notes, table.report, table.issue-special-order-lines, table.distribution-quote-request, table.distribution-list, table.publication-district-breakdown, table.issue-district-breakdown, table.issue-district-breakdown-orders, table.customer-types, table.inventory, table.users, table.regions, table.warehouses, table.delivery-methods, table.versions
2:   :border = 2px solid !border_color
3:   :margin 1em auto
4: 
5:   tbody tr:first-child td
6:     :padding-top 8px
7: 
8:   tbody


Backtrace:
/home/adam/src/feminadb/public/stylesheets/sass/data-table.sass:2
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/script/variable.rb:27:in `perform'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/script/operation.rb:36:in `perform'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/prop_node.rb:99:in `perform!'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:181:in `_perform'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:158:in `perform'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:202:in `perform_children'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:202:in `map'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:202:in `perform_children'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:193:in `perform!'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/rule_node.rb:160:in `perform!'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:181:in `_perform'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:158:in `perform'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:202:in `perform_children'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:202:in `map'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:202:in `perform_children'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:193:in `perform!'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:181:in `_perform'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:158:in `perform'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/tree/node.rb:103:in `render'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/plugin.rb:97:in `update_stylesheet'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/plugin.rb:83:in `update_stylesheets'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/plugin.rb:78:in `each'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/plugin.rb:78:in `update_stylesheets'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/plugin.rb:76:in `each'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/plugin.rb:76:in `update_stylesheets'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/plugin.rb:63:in `check_for_updates'
/home/adam/.bundle/ruby/1.8/gems/haml-2.2.20/lib/sass/plugin/rails.rb:13:in `__sass_process'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta/lib/active_support/callbacks.rb:423:in `_run_prepare_callbacks'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta/lib/active_support/callbacks.rb:88:in `send'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta/lib/active_support/callbacks.rb:88:in `run_callbacks'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta/lib/action_dispatch/middleware/callbacks.rb:45:in `call'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta/lib/active_support/callbacks.rb:409:in `_run_call_callbacks'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta/lib/active_support/callbacks.rb:88:in `send'
/var/lib/gems/1.8/gems/activesupport-3.0.0.beta/lib/active_support/callbacks.rb:88:in `run_callbacks'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta/lib/action_dispatch/middleware/show_exceptions.rb:62:in `call'
/var/lib/gems/1.8/gems/railties-3.0.0.beta/lib/rails/rack/logger.rb:13:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/runtime.rb:17:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.0.beta/lib/action_dispatch/middleware/static.rb:30:in `call'
/var/lib/gems/1.8/gems/railties-3.0.0.beta/lib/rails/application.rb:95:in `call'
/var/lib/gems/1.8/gems/railties-3.0.0.beta/lib/rails/application.rb:41:in `send'
/var/lib/gems/1.8/gems/railties-3.0.0.beta/lib/rails/application.rb:41:in `method_missing'
/var/lib/gems/1.8/gems/railties-3.0.0.beta/lib/rails/rack/log_tailer.rb:15:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/chunked.rb:15:in `call'
/home/adam/.bundle/ruby/1.8/gems/thin-1.2.7/lib/thin/connection.rb:76:in `pre_process'
/home/adam/.bundle/ruby/1.8/gems/thin-1.2.7/lib/thin/connection.rb:74:in `catch'
/home/adam/.bundle/ruby/1.8/gems/thin-1.2.7/lib/thin/connection.rb:74:in `pre_process'
/home/adam/.bundle/ruby/1.8/gems/thin-1.2.7/lib/thin/connection.rb:57:in `process'
/home/adam/.bundle/ruby/1.8/gems/thin-1.2.7/lib/thin/connection.rb:42:in `receive_data'
/home/adam/.bundle/ruby/1.8/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/home/adam/.bundle/ruby/1.8/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/home/adam/.bundle/ruby/1.8/gems/thin-1.2.7/lib/thin/backends/base.rb:57:in `start'
/home/adam/.bundle/ruby/1.8/gems/thin-1.2.7/lib/thin/server.rb:156:in `start'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/handler/thin.rb:14:in `run'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/server.rb:155:in `start'
/var/lib/gems/1.8/gems/railties-3.0.0.beta/lib/rails/commands/server.rb:49:in `start'
/var/lib/gems/1.8/gems/rack-1.1.0/lib/rack/server.rb:83:in `start'
/var/lib/gems/1.8/gems/railties-3.0.0.beta/lib/rails/commands.rb:39
/home/adam/src/feminadb/script/rails:10:in `require'
/home/adam/src/feminadb/script/rails:10
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined variable: \"!border_color\".\A on line 2 of /home/adam/src/feminadb/public/stylesheets/sass/data-table.sass\A \A 1: table.customers, table.clubs, table.approved-special-orders, table.pending-special-orders, table.packing-instructions, table.publication-standing-orders, table.publication-waiting-orders, table.customer-orders, table.customer-special-orders, table.customer-standing-orders, table.customer-waiting-orders, table.customer-special-order-lines, table.customer-notes, table.issue-orders, table.issue-notes, table.special-orders, table.special-order-notes, table.report, table.issue-special-order-lines, table.distribution-quote-request, table.distribution-list, table.publication-district-breakdown, table.issue-district-breakdown, table.issue-district-breakdown-orders, table.customer-types, table.inventory, table.users, table.regions, table.warehouses, table.delivery-methods, table.versions\A 2:   :border = 2px solid !border_color\A 3:   :margin 1em auto\A 4: \A 5:   tbody tr:first-child td\A 6:     :padding-top 8px\A 7: \A 8:   tbody\A "; }
