table.customers, table.clubs, table.packing-instructions, table.customer-orders, table.customer-standing-orders, table.customer-waiting-orders, table.customer-notes, table.issue-orders, table.issue-notes, table.report, table.distribution-quote-request, table.distribution-list, table.publication-district-breakdown, table.issue-district-breakdown, table.issue-district-breakdown-orders, table.customer-types, table.inventory, table.users, table.regions, table.warehouses, table.delivery-methods, table.audits, table.data {
  border: 2px solid #009ee0;
  margin: 1em auto; }
  table.customers tbody tr:first-child td, table.clubs tbody tr:first-child td, table.packing-instructions tbody tr:first-child td, table.customer-orders tbody tr:first-child td, table.customer-standing-orders tbody tr:first-child td, table.customer-waiting-orders tbody tr:first-child td, table.customer-notes tbody tr:first-child td, table.issue-orders tbody tr:first-child td, table.issue-notes tbody tr:first-child td, table.report tbody tr:first-child td, table.distribution-quote-request tbody tr:first-child td, table.distribution-list tbody tr:first-child td, table.publication-district-breakdown tbody tr:first-child td, table.issue-district-breakdown tbody tr:first-child td, table.issue-district-breakdown-orders tbody tr:first-child td, table.customer-types tbody tr:first-child td, table.inventory tbody tr:first-child td, table.users tbody tr:first-child td, table.regions tbody tr:first-child td, table.warehouses tbody tr:first-child td, table.delivery-methods tbody tr:first-child td, table.audits tbody tr:first-child td, table.data tbody tr:first-child td {
    padding-top: 8px; }
  table.customers tbody th, table.customers tbody td, table.clubs tbody th, table.clubs tbody td, table.packing-instructions tbody th, table.packing-instructions tbody td, table.customer-orders tbody th, table.customer-orders tbody td, table.customer-standing-orders tbody th, table.customer-standing-orders tbody td, table.customer-waiting-orders tbody th, table.customer-waiting-orders tbody td, table.customer-notes tbody th, table.customer-notes tbody td, table.issue-orders tbody th, table.issue-orders tbody td, table.issue-notes tbody th, table.issue-notes tbody td, table.report tbody th, table.report tbody td, table.distribution-quote-request tbody th, table.distribution-quote-request tbody td, table.distribution-list tbody th, table.distribution-list tbody td, table.publication-district-breakdown tbody th, table.publication-district-breakdown tbody td, table.issue-district-breakdown tbody th, table.issue-district-breakdown tbody td, table.issue-district-breakdown-orders tbody th, table.issue-district-breakdown-orders tbody td, table.customer-types tbody th, table.customer-types tbody td, table.inventory tbody th, table.inventory tbody td, table.users tbody th, table.users tbody td, table.regions tbody th, table.regions tbody td, table.warehouses tbody th, table.warehouses tbody td, table.delivery-methods tbody th, table.delivery-methods tbody td, table.audits tbody th, table.audits tbody td, table.data tbody th, table.data tbody td {
    border: 1px solid #009ee0; }
  table.customers tbody td, table.clubs tbody td, table.packing-instructions tbody td, table.customer-orders tbody td, table.customer-standing-orders tbody td, table.customer-waiting-orders tbody td, table.customer-notes tbody td, table.issue-orders tbody td, table.issue-notes tbody td, table.report tbody td, table.distribution-quote-request tbody td, table.distribution-list tbody td, table.publication-district-breakdown tbody td, table.issue-district-breakdown tbody td, table.issue-district-breakdown-orders tbody td, table.customer-types tbody td, table.inventory tbody td, table.users tbody td, table.regions tbody td, table.warehouses tbody td, table.delivery-methods tbody td, table.audits tbody td, table.data tbody td {
    font-family: Times, serif;
    font-size: 0.9em;
    padding: 2px 9px; }
    table.customers tbody td .add, table.clubs tbody td .add, table.packing-instructions tbody td .add, table.customer-orders tbody td .add, table.customer-standing-orders tbody td .add, table.customer-waiting-orders tbody td .add, table.customer-notes tbody td .add, table.issue-orders tbody td .add, table.issue-notes tbody td .add, table.report tbody td .add, table.distribution-quote-request tbody td .add, table.distribution-list tbody td .add, table.publication-district-breakdown tbody td .add, table.issue-district-breakdown tbody td .add, table.issue-district-breakdown-orders tbody td .add, table.customer-types tbody td .add, table.inventory tbody td .add, table.users tbody td .add, table.regions tbody td .add, table.warehouses tbody td .add, table.delivery-methods tbody td .add, table.audits tbody td .add, table.data tbody td .add {
      text-align: center; }
  table.customers tbody tr.even th, table.customers tbody tr.even td, table.clubs tbody tr.even th, table.clubs tbody tr.even td, table.packing-instructions tbody tr.even th, table.packing-instructions tbody tr.even td, table.customer-orders tbody tr.even th, table.customer-orders tbody tr.even td, table.customer-standing-orders tbody tr.even th, table.customer-standing-orders tbody tr.even td, table.customer-waiting-orders tbody tr.even th, table.customer-waiting-orders tbody tr.even td, table.customer-notes tbody tr.even th, table.customer-notes tbody tr.even td, table.issue-orders tbody tr.even th, table.issue-orders tbody tr.even td, table.issue-notes tbody tr.even th, table.issue-notes tbody tr.even td, table.report tbody tr.even th, table.report tbody tr.even td, table.distribution-quote-request tbody tr.even th, table.distribution-quote-request tbody tr.even td, table.distribution-list tbody tr.even th, table.distribution-list tbody tr.even td, table.publication-district-breakdown tbody tr.even th, table.publication-district-breakdown tbody tr.even td, table.issue-district-breakdown tbody tr.even th, table.issue-district-breakdown tbody tr.even td, table.issue-district-breakdown-orders tbody tr.even th, table.issue-district-breakdown-orders tbody tr.even td, table.customer-types tbody tr.even th, table.customer-types tbody tr.even td, table.inventory tbody tr.even th, table.inventory tbody tr.even td, table.users tbody tr.even th, table.users tbody tr.even td, table.regions tbody tr.even th, table.regions tbody tr.even td, table.warehouses tbody tr.even th, table.warehouses tbody tr.even td, table.delivery-methods tbody tr.even th, table.delivery-methods tbody tr.even td, table.audits tbody tr.even th, table.audits tbody tr.even td, table.data tbody tr.even th, table.data tbody tr.even td {
    background: #faedcc; }
  table.customers tbody tr.odd th, table.customers tbody tr.odd td, table.clubs tbody tr.odd th, table.clubs tbody tr.odd td, table.packing-instructions tbody tr.odd th, table.packing-instructions tbody tr.odd td, table.customer-orders tbody tr.odd th, table.customer-orders tbody tr.odd td, table.customer-standing-orders tbody tr.odd th, table.customer-standing-orders tbody tr.odd td, table.customer-waiting-orders tbody tr.odd th, table.customer-waiting-orders tbody tr.odd td, table.customer-notes tbody tr.odd th, table.customer-notes tbody tr.odd td, table.issue-orders tbody tr.odd th, table.issue-orders tbody tr.odd td, table.issue-notes tbody tr.odd th, table.issue-notes tbody tr.odd td, table.report tbody tr.odd th, table.report tbody tr.odd td, table.distribution-quote-request tbody tr.odd th, table.distribution-quote-request tbody tr.odd td, table.distribution-list tbody tr.odd th, table.distribution-list tbody tr.odd td, table.publication-district-breakdown tbody tr.odd th, table.publication-district-breakdown tbody tr.odd td, table.issue-district-breakdown tbody tr.odd th, table.issue-district-breakdown tbody tr.odd td, table.issue-district-breakdown-orders tbody tr.odd th, table.issue-district-breakdown-orders tbody tr.odd td, table.customer-types tbody tr.odd th, table.customer-types tbody tr.odd td, table.inventory tbody tr.odd th, table.inventory tbody tr.odd td, table.users tbody tr.odd th, table.users tbody tr.odd td, table.regions tbody tr.odd th, table.regions tbody tr.odd td, table.warehouses tbody tr.odd th, table.warehouses tbody tr.odd td, table.delivery-methods tbody tr.odd th, table.delivery-methods tbody tr.odd td, table.audits tbody tr.odd th, table.audits tbody tr.odd td, table.data tbody tr.odd th, table.data tbody tr.odd td {
    background: #f8e4b3; }
  table.customers tbody tr.total, table.clubs tbody tr.total, table.packing-instructions tbody tr.total, table.customer-orders tbody tr.total, table.customer-standing-orders tbody tr.total, table.customer-waiting-orders tbody tr.total, table.customer-notes tbody tr.total, table.issue-orders tbody tr.total, table.issue-notes tbody tr.total, table.report tbody tr.total, table.distribution-quote-request tbody tr.total, table.distribution-list tbody tr.total, table.publication-district-breakdown tbody tr.total, table.issue-district-breakdown tbody tr.total, table.issue-district-breakdown-orders tbody tr.total, table.customer-types tbody tr.total, table.inventory tbody tr.total, table.users tbody tr.total, table.regions tbody tr.total, table.warehouses tbody tr.total, table.delivery-methods tbody tr.total, table.audits tbody tr.total, table.data tbody tr.total {
    border: 2px solid #009ee0;
    font-weight: bold;
    background: #cc061e; }
  table.customers tbody tr.subtotal, table.clubs tbody tr.subtotal, table.packing-instructions tbody tr.subtotal, table.customer-orders tbody tr.subtotal, table.customer-standing-orders tbody tr.subtotal, table.customer-waiting-orders tbody tr.subtotal, table.customer-notes tbody tr.subtotal, table.issue-orders tbody tr.subtotal, table.issue-notes tbody tr.subtotal, table.report tbody tr.subtotal, table.distribution-quote-request tbody tr.subtotal, table.distribution-list tbody tr.subtotal, table.publication-district-breakdown tbody tr.subtotal, table.issue-district-breakdown tbody tr.subtotal, table.issue-district-breakdown-orders tbody tr.subtotal, table.customer-types tbody tr.subtotal, table.inventory tbody tr.subtotal, table.users tbody tr.subtotal, table.regions tbody tr.subtotal, table.warehouses tbody tr.subtotal, table.delivery-methods tbody tr.subtotal, table.audits tbody tr.subtotal, table.data tbody tr.subtotal {
    background: black;
    border-top: 2px solid #009ee0;
    border-bottom: 2px solid #009ee0;
    font-weight: bold; }
  table.customers tbody tr.subsubtotal, table.clubs tbody tr.subsubtotal, table.packing-instructions tbody tr.subsubtotal, table.customer-orders tbody tr.subsubtotal, table.customer-standing-orders tbody tr.subsubtotal, table.customer-waiting-orders tbody tr.subsubtotal, table.customer-notes tbody tr.subsubtotal, table.issue-orders tbody tr.subsubtotal, table.issue-notes tbody tr.subsubtotal, table.report tbody tr.subsubtotal, table.distribution-quote-request tbody tr.subsubtotal, table.distribution-list tbody tr.subsubtotal, table.publication-district-breakdown tbody tr.subsubtotal, table.issue-district-breakdown tbody tr.subsubtotal, table.issue-district-breakdown-orders tbody tr.subsubtotal, table.customer-types tbody tr.subsubtotal, table.inventory tbody tr.subsubtotal, table.users tbody tr.subsubtotal, table.regions tbody tr.subsubtotal, table.warehouses tbody tr.subsubtotal, table.delivery-methods tbody tr.subsubtotal, table.audits tbody tr.subsubtotal, table.data tbody tr.subsubtotal {
    background: black;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    font-weight: bold; }

table.customers thead, table.clubs thead, table.issue-orders thead, table.report thead, table.distribution-list thead, table.publication-district-breakdown thead, table.issue-district-breakdown thead, table.issue-district-breakdown-orders thead, table.customer-types thead, table.users thead, table.regions thead, table.warehouses thead, table.delivery-methods thead, table.audits thead {
  border: 2px solid #cc061e; }
  table.customers thead th, table.clubs thead th, table.issue-orders thead th, table.report thead th, table.distribution-list thead th, table.publication-district-breakdown thead th, table.issue-district-breakdown thead th, table.issue-district-breakdown-orders thead th, table.customer-types thead th, table.users thead th, table.regions thead th, table.warehouses thead th, table.delivery-methods thead th, table.audits thead th {
    font-weight: normal;
    background-color: #cc061e;
    color: white;
    padding: 8px 6px 2px; }
    table.customers thead th a, table.clubs thead th a, table.issue-orders thead th a, table.report thead th a, table.distribution-list thead th a, table.publication-district-breakdown thead th a, table.issue-district-breakdown thead th a, table.issue-district-breakdown-orders thead th a, table.customer-types thead th a, table.users thead th a, table.regions thead th a, table.warehouses thead th a, table.delivery-methods thead th a, table.audits thead th a {
      background-color: #cc061e;
      color: white;
      text-decoration: underline; }

table.packing-instructions thead.title, table.customer-orders thead.title, table.customer-standing-orders thead.title, table.customer-waiting-orders thead.title, table.customer-notes thead.title, table.issue-notes thead.title, table.distribution-quote-request thead.title, table.inventory thead.title {
  border: 2px solid #cc061e; }
  table.packing-instructions thead.title th, table.customer-orders thead.title th, table.customer-standing-orders thead.title th, table.customer-waiting-orders thead.title th, table.customer-notes thead.title th, table.issue-notes thead.title th, table.distribution-quote-request thead.title th, table.inventory thead.title th {
    font-weight: normal;
    background-color: #cc061e;
    color: white;
    padding: 8px 6px 2px; }
    table.packing-instructions thead.title th a, table.customer-orders thead.title th a, table.customer-standing-orders thead.title th a, table.customer-waiting-orders thead.title th a, table.customer-notes thead.title th a, table.issue-notes thead.title th a, table.distribution-quote-request thead.title th a, table.inventory thead.title th a {
      background-color: #cc061e;
      color: white;
      text-decoration: underline; }
table.packing-instructions thead, table.customer-orders thead, table.customer-standing-orders thead, table.customer-waiting-orders thead, table.customer-notes thead, table.issue-notes thead, table.distribution-quote-request thead, table.inventory thead {
  border: 2px solid #cc061e;
  background: black;
  color: yellow; }
  table.packing-instructions thead th, table.customer-orders thead th, table.customer-standing-orders thead th, table.customer-waiting-orders thead th, table.customer-notes thead th, table.issue-notes thead th, table.distribution-quote-request thead th, table.inventory thead th {
    font-weight: normal; }

table.packing-instructions {
  margin-bottom: 1em; }

table.customers, table.clubs {
  width: 100%; }
  table.customers td.region, table.customers td.district, table.customers td.type, table.customers td.actions, table.customers td.standing-orders, table.customers td.club, table.clubs td.region, table.clubs td.district, table.clubs td.type, table.clubs td.actions, table.clubs td.standing-orders, table.clubs td.club {
    width: 1em; }
  table.customers td.standing-orders, table.clubs td.standing-orders {
    text-align: right;
    font-family: monospace; }
  table.customers td.type, table.customers td.club, table.clubs td.type, table.clubs td.club {
    text-align: center; }

table.customers td.standing-orders, table.issue-orders td.qty {
  font-family: inherit; }
  table.customers td.standing-orders div.frame, table.issue-orders td.qty div.frame {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: inherit; }
  table.customers td.standing-orders a, table.issue-orders td.qty a {
    display: block;
    position: relative;
    font-family: monospace;
    background-color: inherit;
    width: 100%;
    height: 100%; }
  table.customers td.standing-orders div.forms, table.issue-orders td.qty div.forms {
    display: none;
    position: absolute;
    background-color: inherit;
    top: 1em;
    right: -10px;
    padding: 9px;
    border: 1px solid #009ee0;
    border-top: none;
    z-index: 1; }
    table.customers td.standing-orders div.forms div.submitting, table.issue-orders td.qty div.forms div.submitting {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(/images/fade-white.png) repeat; }
      table.customers td.standing-orders div.forms div.submitting p, table.issue-orders td.qty div.forms div.submitting p {
        text-align: center;
        font-weight: bold;
        margin-top: 5em; }
        table.customers td.standing-orders div.forms div.submitting p img, table.issue-orders td.qty div.forms div.submitting p img {
          padding-right: 6px; }
  table.customers td.standing-orders h3, table.issue-orders td.qty h3 {
    margin: 0;
    cursor: pointer; }
  table.customers td.standing-orders .deselected h3, table.issue-orders td.qty .deselected h3 {
    color: #999999; }
  table.customers td.standing-orders p, table.issue-orders td.qty p {
    white-space: nowrap; }
  table.customers td.standing-orders label, table.issue-orders td.qty label {
    white-space: nowrap; }
  table.customers td.standing-orders input[type=text], table.issue-orders td.qty input[type=text] {
    width: 10em; }
  table.customers td.standing-orders input.num_copies, table.issue-orders td.qty input.num_copies {
    width: 4em; }

table.customer-standing-orders td.publication, table.customer-standing-orders td.num_copies, table.customer-standing-orders td.request_date, table.customer-standing-orders td.created_at, table.customer-waiting-orders td.publication, table.customer-waiting-orders td.num_copies, table.customer-waiting-orders td.request_date, table.customer-waiting-orders td.created_at {
  width: 1em; }
table.customer-standing-orders td.num_copies, table.customer-waiting-orders td.num_copies {
  text-align: right; }

table.customer-orders td.publication, table.customer-orders td.issue_number, table.customer-orders td.num_copies, table.customer-orders td.order_date, table.customer-orders td.status, table.customer-orders td.delivery_method {
  width: 1em; }
table.customer-orders td.num_copies {
  text-align: right; }
table.customer-orders td.order_date, table.customer-orders td.delivery_method {
  text-align: center; }

table.customer-standing-orders, table.customer-waiting-orders, table.customer-orders, table.customer-notes, table.issue-notes {
  margin-bottom: 1em; }
  table.customer-standing-orders tbody td, table.customer-waiting-orders tbody td, table.customer-orders tbody td, table.customer-notes tbody td, table.issue-notes tbody td {
    vertical-align: top;
    border-bottom: 1px solid #009ee0; }

table.customer-notes td.user, table.customer-notes td.date, table.customer-notes td.actions, table.issue-notes td.user, table.issue-notes td.date, table.issue-notes td.actions {
  width: 1em; }

table.issue-orders {
  width: 100%; }
  table.issue-orders td.delivery-method, table.issue-orders td.region, table.issue-orders td.district, table.issue-orders td.qty, table.issue-orders td.actions {
    width: 1em; }
  table.issue-orders td.qty {
    text-align: right; }
  table.issue-orders td.customer {
    width: auto; }

table.customer-standing-orders, table.customer-waiting-orders, table.customer-orders, table.customer-notes, table.issue-notes {
  width: 100%;
  margin-bottom: 1em; }
  table.customer-standing-orders tbody td.actions, table.customer-waiting-orders tbody td.actions, table.customer-orders tbody td.actions, table.customer-notes tbody td.actions, table.issue-notes tbody td.actions {
    width: 1em; }
  table.customer-standing-orders tbody td.num_copies, table.customer-standing-orders tbody td.num_copies_requested, table.customer-waiting-orders tbody td.num_copies, table.customer-waiting-orders tbody td.num_copies_requested, table.customer-orders tbody td.num_copies, table.customer-orders tbody td.num_copies_requested, table.customer-notes tbody td.num_copies, table.customer-notes tbody td.num_copies_requested, table.issue-notes tbody td.num_copies, table.issue-notes tbody td.num_copies_requested {
    text-align: right; }
  table.customer-standing-orders tbody td.delete, table.customer-waiting-orders tbody td.delete, table.customer-orders tbody td.delete, table.customer-notes tbody td.delete, table.issue-notes tbody td.delete {
    text-align: center;
    font-size: smaller; }
    table.customer-standing-orders tbody td.delete *, table.customer-waiting-orders tbody td.delete *, table.customer-orders tbody td.delete *, table.customer-notes tbody td.delete *, table.issue-notes tbody td.delete * {
      font-size: inherit; }

table.distribution-list td.num-copies {
  text-align: right; }

table.publication-district-breakdown td.num-copies, table.issue-district-breakdown td.num-copies, table.issue-district-breakdown-orders td.num-copies {
  text-align: right; }

table.inventory {
  width: 100%; }
  table.inventory td {
    vertical-align: top;
    background: #faedcc; }
  table.inventory td.odd-col {
    background: #f8e4b3; }
  table.inventory tr.first {
    height: 1em; }
  table.inventory td.total {
    font-weight: bold;
    text-align: right; }
  table.inventory td.breakdown * {
    font-weight: bold; }
  table.inventory td.comment {
    padding-left: 1em;
    color: #666666; }
  table.inventory span.box-size {
    font-size: 0.85em;
    font-weight: normal; }
  table.inventory th {
    vertical-align: top;
    text-align: left; }
  table.inventory thead tr:first-child th {
    padding-bottom: 0; }
  table.inventory thead tr:first-child + tr th {
    padding-top: 0; }

table.customer-standing-orders, table.customer-waiting-orders, table.customer-orders {
  width: 95%;
  margin: 0.5em auto; }
  table.customer-standing-orders thead th, table.customer-waiting-orders thead th, table.customer-orders thead th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left; }
  table.customer-standing-orders thead.title, table.customer-waiting-orders thead.title, table.customer-orders thead.title {
    border: none; }
    table.customer-standing-orders thead.title th, table.customer-waiting-orders thead.title th, table.customer-orders thead.title th {
      font-size: 1em;
      text-align: left;
      padding: 4px; }
      table.customer-standing-orders thead.title th a.show-hide, table.customer-waiting-orders thead.title th a.show-hide, table.customer-orders thead.title th a.show-hide {
        font-size: 0.8em;
        color: #cccccc;
        cursor: pointer; }

table.audits {
  width: 95%;
  margin: 0.5em auto; }
  table.audits td {
    vertical-align: top; }
  table.audits td.change_before div, table.audits td.change_after div {
    overflow: hidden; }
  table.audits a.history {
    display: block;
    font-size: 0.9em;
    text-align: right; }
