/*
Syntax error: Undefined variable: "$border_color".
        on line 4 of public/stylesheets/sass/detail-table.sass

1: table.customer, table.special-order, table.issue, table.club
2:   :width 100%
3:   :margin 1em auto
4:   :border = 1px solid !border_color
5:   :background = !odd_background_color
6: 
7:   a.show-hide
8:     :font-size .8em
9:     :color #ccc

Backtrace:
public/stylesheets/sass/detail-table.sass:4
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/script/variable.rb:39:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/script/node.rb:61:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/script/operation.rb:66:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/script/node.rb:61:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/prop_node.rb:133:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:273:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:185:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:294:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:294:in `map'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:294:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:285:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/rule_node.rb:209:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:273:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:185:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:294:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:294:in `map'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:294:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:285:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/root_node.rb:44:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:273:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:185:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/root_node.rb:27:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/tree/node.rb:119:in `render'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/plugin.rb:328:in `update_stylesheet'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/plugin.rb:223:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/plugin.rb:216:in `each'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/plugin.rb:216:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/plugin.rb:214:in `each'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/plugin.rb:214:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/plugin.rb:279
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/path.rb:71:in `call'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/path.rb:34:in `update'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/state/directory.rb:32:in `modified'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/vendor/fssm/lib/fssm.rb:17:in `monitor'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/sass/plugin.rb:272:in `watch'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/haml/exec.rb:359:in `watch_or_update'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/haml/exec.rb:272:in `process_result'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/../lib/haml/exec.rb:23:in `parse!'
/var/lib/gems/1.8/gems/haml-3.0.0.beta.1/bin/sass:8
/var/lib/gems/1.8/bin/sass:19:in `load'
/var/lib/gems/1.8/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$border_color\".\A         on line 4 of public/stylesheets/sass/detail-table.sass\A \A 1: table.customer, table.special-order, table.issue, table.club\A 2:   :width 100%\A 3:   :margin 1em auto\A 4:   :border = 1px solid !border_color\A 5:   :background = !odd_background_color\A 6: \A 7:   a.show-hide\A 8:     :font-size .8em\A 9:     :color #ccc"; }
