table.role-descriptions {
  border: 2px solid #009ee0; }
  table.role-descriptions thead {
    border: 2px solid #cc061e; }
    table.role-descriptions thead th {
      font-weight: normal;
      background-color: #cc061e;
      color: white;
      padding: 10px 2px; }
  table.role-descriptions tbody td {
    vertical-align: top;
    font-family: Times, serif;
    font-size: 0.9em; }
    table.role-descriptions tbody td p {
      margin: 0; }
  table.role-descriptions tbody td.title {
    font-weight: bold; }
  table.role-descriptions tbody tr.even th, table.role-descriptions tbody tr.even td {
    background: #faedcc; }
  table.role-descriptions tbody tr.odd th, table.role-descriptions tbody tr.odd td {
    background: #f8e4b3; }
