body {
  background: #fffbd9;
  color: black;
  margin: 0;
  font-family: Verdana, sans-serif; }

h2 {
  font-size: 1.15em; }

h3 {
  font-size: 1.05em; }

p {
  line-height: 1.5em; }

a {
  color: #cc0000;
  text-decoration: none; }

form.button-to {
  display: inline;
  padding: 0;
  margin: 0; }
  form.button-to div {
    display: inline; }
  form.button-to input {
    background: inherit;
    border: none;
    color: #cc0000;
    cursor: pointer; }

p.image {
  text-align: center; }
  p.image span {
    margin-top: 6px;
    display: block; }
  p.image img {
    border: 2px dotted gray; }

table {
  clear: both;
  border-collapse: collapse; }
  table th, table td {
    white-space: nowrap;
    padding: 2px 6px; }
    table th p, table th .redcloth, table th .overflow, table td p, table td .redcloth, table td .overflow {
      white-space: normal; }
    table th .redcloth, table td .redcloth {
      margin: -1em 0; }
    table th .cut-off, table td .cut-off {
      overflow: hidden; }

p.actions {
  text-align: center; }

abbr {
  border-bottom: 1px dotted gray; }

div.logo {
  float: left;
  width: 168px; }

div.pretty-header {
  margin-left: 168px;
  padding-left: 1em; }
  div.pretty-header h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 1.5em; }

table.customers, table.clubs, table.packing-instructions, table.customer-orders, table.customer-standing-orders, table.customer-waiting-orders, table.customer-notes, table.issue-orders, table.issue-notes, table.report, table.distribution-quote-request, table.distribution-list, table.publication-district-breakdown, table.issue-district-breakdown, table.issue-district-breakdown-orders, table.customer-types, table.inventory, table.users, table.regions, table.warehouses, table.delivery-methods, table.versions, table.data {
  border: 2px solid #009ee0;
  margin: 1em auto; }
  table.customers tbody tr:first-child td, table.clubs tbody tr:first-child td, table.packing-instructions tbody tr:first-child td, table.customer-orders tbody tr:first-child td, table.customer-standing-orders tbody tr:first-child td, table.customer-waiting-orders tbody tr:first-child td, table.customer-notes tbody tr:first-child td, table.issue-orders tbody tr:first-child td, table.issue-notes tbody tr:first-child td, table.report tbody tr:first-child td, table.distribution-quote-request tbody tr:first-child td, table.distribution-list tbody tr:first-child td, table.publication-district-breakdown tbody tr:first-child td, table.issue-district-breakdown tbody tr:first-child td, table.issue-district-breakdown-orders tbody tr:first-child td, table.customer-types tbody tr:first-child td, table.inventory tbody tr:first-child td, table.users tbody tr:first-child td, table.regions tbody tr:first-child td, table.warehouses tbody tr:first-child td, table.delivery-methods tbody tr:first-child td, table.versions tbody tr:first-child td, table.data tbody tr:first-child td {
    padding-top: 8px; }
  table.customers tbody th, table.customers tbody td, table.clubs tbody th, table.clubs tbody td, table.packing-instructions tbody th, table.packing-instructions tbody td, table.customer-orders tbody th, table.customer-orders tbody td, table.customer-standing-orders tbody th, table.customer-standing-orders tbody td, table.customer-waiting-orders tbody th, table.customer-waiting-orders tbody td, table.customer-notes tbody th, table.customer-notes tbody td, table.issue-orders tbody th, table.issue-orders tbody td, table.issue-notes tbody th, table.issue-notes tbody td, table.report tbody th, table.report tbody td, table.distribution-quote-request tbody th, table.distribution-quote-request tbody td, table.distribution-list tbody th, table.distribution-list tbody td, table.publication-district-breakdown tbody th, table.publication-district-breakdown tbody td, table.issue-district-breakdown tbody th, table.issue-district-breakdown tbody td, table.issue-district-breakdown-orders tbody th, table.issue-district-breakdown-orders tbody td, table.customer-types tbody th, table.customer-types tbody td, table.inventory tbody th, table.inventory tbody td, table.users tbody th, table.users tbody td, table.regions tbody th, table.regions tbody td, table.warehouses tbody th, table.warehouses tbody td, table.delivery-methods tbody th, table.delivery-methods tbody td, table.versions tbody th, table.versions tbody td, table.data tbody th, table.data tbody td {
    border: 1px solid #009ee0; }
  table.customers tbody td, table.clubs tbody td, table.packing-instructions tbody td, table.customer-orders tbody td, table.customer-standing-orders tbody td, table.customer-waiting-orders tbody td, table.customer-notes tbody td, table.issue-orders tbody td, table.issue-notes tbody td, table.report tbody td, table.distribution-quote-request tbody td, table.distribution-list tbody td, table.publication-district-breakdown tbody td, table.issue-district-breakdown tbody td, table.issue-district-breakdown-orders tbody td, table.customer-types tbody td, table.inventory tbody td, table.users tbody td, table.regions tbody td, table.warehouses tbody td, table.delivery-methods tbody td, table.versions tbody td, table.data tbody td {
    font-family: Times, serif;
    font-size: 0.9em;
    padding: 2px 9px; }
    table.customers tbody td .add, table.clubs tbody td .add, table.packing-instructions tbody td .add, table.customer-orders tbody td .add, table.customer-standing-orders tbody td .add, table.customer-waiting-orders tbody td .add, table.customer-notes tbody td .add, table.issue-orders tbody td .add, table.issue-notes tbody td .add, table.report tbody td .add, table.distribution-quote-request tbody td .add, table.distribution-list tbody td .add, table.publication-district-breakdown tbody td .add, table.issue-district-breakdown tbody td .add, table.issue-district-breakdown-orders tbody td .add, table.customer-types tbody td .add, table.inventory tbody td .add, table.users tbody td .add, table.regions tbody td .add, table.warehouses tbody td .add, table.delivery-methods tbody td .add, table.versions tbody td .add, table.data tbody td .add {
      text-align: center; }
  table.customers tbody tr.even th, table.customers tbody tr.even td, table.clubs tbody tr.even th, table.clubs tbody tr.even td, table.packing-instructions tbody tr.even th, table.packing-instructions tbody tr.even td, table.customer-orders tbody tr.even th, table.customer-orders tbody tr.even td, table.customer-standing-orders tbody tr.even th, table.customer-standing-orders tbody tr.even td, table.customer-waiting-orders tbody tr.even th, table.customer-waiting-orders tbody tr.even td, table.customer-notes tbody tr.even th, table.customer-notes tbody tr.even td, table.issue-orders tbody tr.even th, table.issue-orders tbody tr.even td, table.issue-notes tbody tr.even th, table.issue-notes tbody tr.even td, table.report tbody tr.even th, table.report tbody tr.even td, table.distribution-quote-request tbody tr.even th, table.distribution-quote-request tbody tr.even td, table.distribution-list tbody tr.even th, table.distribution-list tbody tr.even td, table.publication-district-breakdown tbody tr.even th, table.publication-district-breakdown tbody tr.even td, table.issue-district-breakdown tbody tr.even th, table.issue-district-breakdown tbody tr.even td, table.issue-district-breakdown-orders tbody tr.even th, table.issue-district-breakdown-orders tbody tr.even td, table.customer-types tbody tr.even th, table.customer-types tbody tr.even td, table.inventory tbody tr.even th, table.inventory tbody tr.even td, table.users tbody tr.even th, table.users tbody tr.even td, table.regions tbody tr.even th, table.regions tbody tr.even td, table.warehouses tbody tr.even th, table.warehouses tbody tr.even td, table.delivery-methods tbody tr.even th, table.delivery-methods tbody tr.even td, table.versions tbody tr.even th, table.versions tbody tr.even td, table.data tbody tr.even th, table.data tbody tr.even td {
    background: #faedcc; }
  table.customers tbody tr.odd th, table.customers tbody tr.odd td, table.clubs tbody tr.odd th, table.clubs tbody tr.odd td, table.packing-instructions tbody tr.odd th, table.packing-instructions tbody tr.odd td, table.customer-orders tbody tr.odd th, table.customer-orders tbody tr.odd td, table.customer-standing-orders tbody tr.odd th, table.customer-standing-orders tbody tr.odd td, table.customer-waiting-orders tbody tr.odd th, table.customer-waiting-orders tbody tr.odd td, table.customer-notes tbody tr.odd th, table.customer-notes tbody tr.odd td, table.issue-orders tbody tr.odd th, table.issue-orders tbody tr.odd td, table.issue-notes tbody tr.odd th, table.issue-notes tbody tr.odd td, table.report tbody tr.odd th, table.report tbody tr.odd td, table.distribution-quote-request tbody tr.odd th, table.distribution-quote-request tbody tr.odd td, table.distribution-list tbody tr.odd th, table.distribution-list tbody tr.odd td, table.publication-district-breakdown tbody tr.odd th, table.publication-district-breakdown tbody tr.odd td, table.issue-district-breakdown tbody tr.odd th, table.issue-district-breakdown tbody tr.odd td, table.issue-district-breakdown-orders tbody tr.odd th, table.issue-district-breakdown-orders tbody tr.odd td, table.customer-types tbody tr.odd th, table.customer-types tbody tr.odd td, table.inventory tbody tr.odd th, table.inventory tbody tr.odd td, table.users tbody tr.odd th, table.users tbody tr.odd td, table.regions tbody tr.odd th, table.regions tbody tr.odd td, table.warehouses tbody tr.odd th, table.warehouses tbody tr.odd td, table.delivery-methods tbody tr.odd th, table.delivery-methods tbody tr.odd td, table.versions tbody tr.odd th, table.versions tbody tr.odd td, table.data tbody tr.odd th, table.data tbody tr.odd td {
    background: #f8e4b3; }
  table.customers tbody tr.total, table.clubs tbody tr.total, table.packing-instructions tbody tr.total, table.customer-orders tbody tr.total, table.customer-standing-orders tbody tr.total, table.customer-waiting-orders tbody tr.total, table.customer-notes tbody tr.total, table.issue-orders tbody tr.total, table.issue-notes tbody tr.total, table.report tbody tr.total, table.distribution-quote-request tbody tr.total, table.distribution-list tbody tr.total, table.publication-district-breakdown tbody tr.total, table.issue-district-breakdown tbody tr.total, table.issue-district-breakdown-orders tbody tr.total, table.customer-types tbody tr.total, table.inventory tbody tr.total, table.users tbody tr.total, table.regions tbody tr.total, table.warehouses tbody tr.total, table.delivery-methods tbody tr.total, table.versions tbody tr.total, table.data tbody tr.total {
    border: 2px solid #009ee0;
    font-weight: bold;
    background: #cc061e; }
  table.customers tbody tr.subtotal, table.clubs tbody tr.subtotal, table.packing-instructions tbody tr.subtotal, table.customer-orders tbody tr.subtotal, table.customer-standing-orders tbody tr.subtotal, table.customer-waiting-orders tbody tr.subtotal, table.customer-notes tbody tr.subtotal, table.issue-orders tbody tr.subtotal, table.issue-notes tbody tr.subtotal, table.report tbody tr.subtotal, table.distribution-quote-request tbody tr.subtotal, table.distribution-list tbody tr.subtotal, table.publication-district-breakdown tbody tr.subtotal, table.issue-district-breakdown tbody tr.subtotal, table.issue-district-breakdown-orders tbody tr.subtotal, table.customer-types tbody tr.subtotal, table.inventory tbody tr.subtotal, table.users tbody tr.subtotal, table.regions tbody tr.subtotal, table.warehouses tbody tr.subtotal, table.delivery-methods tbody tr.subtotal, table.versions tbody tr.subtotal, table.data tbody tr.subtotal {
    background: black;
    border-top: 2px solid #009ee0;
    border-bottom: 2px solid #009ee0;
    font-weight: bold; }
  table.customers tbody tr.subsubtotal, table.clubs tbody tr.subsubtotal, table.packing-instructions tbody tr.subsubtotal, table.customer-orders tbody tr.subsubtotal, table.customer-standing-orders tbody tr.subsubtotal, table.customer-waiting-orders tbody tr.subsubtotal, table.customer-notes tbody tr.subsubtotal, table.issue-orders tbody tr.subsubtotal, table.issue-notes tbody tr.subsubtotal, table.report tbody tr.subsubtotal, table.distribution-quote-request tbody tr.subsubtotal, table.distribution-list tbody tr.subsubtotal, table.publication-district-breakdown tbody tr.subsubtotal, table.issue-district-breakdown tbody tr.subsubtotal, table.issue-district-breakdown-orders tbody tr.subsubtotal, table.customer-types tbody tr.subsubtotal, table.inventory tbody tr.subsubtotal, table.users tbody tr.subsubtotal, table.regions tbody tr.subsubtotal, table.warehouses tbody tr.subsubtotal, table.delivery-methods tbody tr.subsubtotal, table.versions tbody tr.subsubtotal, table.data tbody tr.subsubtotal {
    background: black;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    font-weight: bold; }

table.customers thead, table.clubs thead, table.issue-orders thead, table.report thead, table.distribution-list thead, table.publication-district-breakdown thead, table.issue-district-breakdown thead, table.issue-district-breakdown-orders thead, table.customer-types thead, table.users thead, table.regions thead, table.warehouses thead, table.delivery-methods thead {
  border: 2px solid #cc061e; }
  table.customers thead th, table.clubs thead th, table.issue-orders thead th, table.report thead th, table.distribution-list thead th, table.publication-district-breakdown thead th, table.issue-district-breakdown thead th, table.issue-district-breakdown-orders thead th, table.customer-types thead th, table.users thead th, table.regions thead th, table.warehouses thead th, table.delivery-methods thead th {
    font-weight: normal;
    background-color: #cc061e;
    color: white;
    padding: 8px 6px 2px; }
    table.customers thead th a, table.clubs thead th a, table.issue-orders thead th a, table.report thead th a, table.distribution-list thead th a, table.publication-district-breakdown thead th a, table.issue-district-breakdown thead th a, table.issue-district-breakdown-orders thead th a, table.customer-types thead th a, table.users thead th a, table.regions thead th a, table.warehouses thead th a, table.delivery-methods thead th a {
      background-color: #cc061e;
      color: white;
      text-decoration: underline; }

table.packing-instructions thead.title, table.customer-orders thead.title, table.customer-standing-orders thead.title, table.customer-waiting-orders thead.title, table.customer-notes thead.title, table.issue-notes thead.title, table.distribution-quote-request thead.title, table.inventory thead.title {
  border: 2px solid #cc061e; }
  table.packing-instructions thead.title th, table.customer-orders thead.title th, table.customer-standing-orders thead.title th, table.customer-waiting-orders thead.title th, table.customer-notes thead.title th, table.issue-notes thead.title th, table.distribution-quote-request thead.title th, table.inventory thead.title th {
    font-weight: normal;
    background-color: #cc061e;
    color: white;
    padding: 8px 6px 2px; }
    table.packing-instructions thead.title th a, table.customer-orders thead.title th a, table.customer-standing-orders thead.title th a, table.customer-waiting-orders thead.title th a, table.customer-notes thead.title th a, table.issue-notes thead.title th a, table.distribution-quote-request thead.title th a, table.inventory thead.title th a {
      background-color: #cc061e;
      color: white;
      text-decoration: underline; }
table.packing-instructions thead, table.customer-orders thead, table.customer-standing-orders thead, table.customer-waiting-orders thead, table.customer-notes thead, table.issue-notes thead, table.distribution-quote-request thead, table.inventory thead {
  border: 2px solid #cc061e;
  background: black;
  color: yellow; }
  table.packing-instructions thead th, table.customer-orders thead th, table.customer-standing-orders thead th, table.customer-waiting-orders thead th, table.customer-notes thead th, table.issue-notes thead th, table.distribution-quote-request thead th, table.inventory thead th {
    font-weight: normal; }

table.packing-instructions {
  margin-bottom: 1em; }

table.customers, table.clubs {
  width: 100%; }
  table.customers td.region, table.customers td.district, table.customers td.type, table.customers td.actions, table.customers td.standing-orders, table.clubs td.region, table.clubs td.district, table.clubs td.type, table.clubs td.actions, table.clubs td.standing-orders {
    width: 1em; }
  table.customers td.standing-orders, table.clubs td.standing-orders {
    text-align: right;
    font-family: monospace; }
  table.customers td.type, table.clubs td.type {
    text-align: center; }

table.customers td.standing-orders, table.issue-orders td.qty {
  font-family: inherit; }
  table.customers td.standing-orders div.frame, table.issue-orders td.qty div.frame {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: inherit; }
  table.customers td.standing-orders a, table.issue-orders td.qty a {
    display: block;
    position: relative;
    font-family: monospace;
    background-color: inherit;
    width: 100%;
    height: 100%; }
  table.customers td.standing-orders div.forms, table.issue-orders td.qty div.forms {
    display: none;
    position: absolute;
    background-color: inherit;
    top: 1em;
    right: -10px;
    padding: 9px;
    border: 1px solid #009ee0;
    border-top: none;
    z-index: 1; }
    table.customers td.standing-orders div.forms div.submitting, table.issue-orders td.qty div.forms div.submitting {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(/images/fade-white.png) repeat; }
      table.customers td.standing-orders div.forms div.submitting p, table.issue-orders td.qty div.forms div.submitting p {
        text-align: center;
        font-weight: bold;
        margin-top: 5em; }
        table.customers td.standing-orders div.forms div.submitting p img, table.issue-orders td.qty div.forms div.submitting p img {
          padding-right: 6px; }
  table.customers td.standing-orders h3, table.issue-orders td.qty h3 {
    margin: 0;
    cursor: pointer; }
  table.customers td.standing-orders .deselected h3, table.issue-orders td.qty .deselected h3 {
    color: #999999; }
  table.customers td.standing-orders p, table.issue-orders td.qty p {
    white-space: nowrap; }
  table.customers td.standing-orders label, table.issue-orders td.qty label {
    white-space: nowrap; }
  table.customers td.standing-orders input[type=text], table.issue-orders td.qty input[type=text] {
    width: 10em; }
  table.customers td.standing-orders input.num_copies, table.issue-orders td.qty input.num_copies {
    width: 4em; }

table.customer-standing-orders td.publication, table.customer-standing-orders td.num_copies, table.customer-standing-orders td.request_date, table.customer-standing-orders td.created_at, table.customer-waiting-orders td.publication, table.customer-waiting-orders td.num_copies, table.customer-waiting-orders td.request_date, table.customer-waiting-orders td.created_at {
  width: 1em; }
table.customer-standing-orders td.num_copies, table.customer-waiting-orders td.num_copies {
  text-align: right; }

table.customer-orders td.publication, table.customer-orders td.issue_number, table.customer-orders td.num_copies, table.customer-orders td.order_date, table.customer-orders td.status, table.customer-orders td.delivery_method {
  width: 1em; }
table.customer-orders td.num_copies {
  text-align: right; }
table.customer-orders td.order_date, table.customer-orders td.delivery_method {
  text-align: center; }

table.customer-standing-orders, table.customer-waiting-orders, table.customer-orders, table.customer-notes, table.issue-notes {
  margin-bottom: 1em; }
  table.customer-standing-orders tbody td, table.customer-waiting-orders tbody td, table.customer-orders tbody td, table.customer-notes tbody td, table.issue-notes tbody td {
    vertical-align: top;
    border-bottom: 1px solid #009ee0; }

table.customer-notes td.user, table.customer-notes td.date, table.customer-notes td.actions, table.issue-notes td.user, table.issue-notes td.date, table.issue-notes td.actions {
  width: 1em; }

table.issue-orders {
  width: 100%; }
  table.issue-orders td.delivery-method, table.issue-orders td.region, table.issue-orders td.district, table.issue-orders td.qty, table.issue-orders td.actions {
    width: 1em; }
  table.issue-orders td.qty {
    text-align: right; }
  table.issue-orders td.customer {
    width: auto; }

table.customer-standing-orders, table.customer-waiting-orders, table.customer-orders, table.customer-notes, table.issue-notes {
  width: 100%;
  margin-bottom: 1em; }
  table.customer-standing-orders tbody td.actions, table.customer-waiting-orders tbody td.actions, table.customer-orders tbody td.actions, table.customer-notes tbody td.actions, table.issue-notes tbody td.actions {
    width: 1em; }
  table.customer-standing-orders tbody td.num_copies, table.customer-standing-orders tbody td.num_copies_requested, table.customer-waiting-orders tbody td.num_copies, table.customer-waiting-orders tbody td.num_copies_requested, table.customer-orders tbody td.num_copies, table.customer-orders tbody td.num_copies_requested, table.customer-notes tbody td.num_copies, table.customer-notes tbody td.num_copies_requested, table.issue-notes tbody td.num_copies, table.issue-notes tbody td.num_copies_requested {
    text-align: right; }
  table.customer-standing-orders tbody td.delete, table.customer-waiting-orders tbody td.delete, table.customer-orders tbody td.delete, table.customer-notes tbody td.delete, table.issue-notes tbody td.delete {
    text-align: center;
    font-size: smaller; }
    table.customer-standing-orders tbody td.delete *, table.customer-waiting-orders tbody td.delete *, table.customer-orders tbody td.delete *, table.customer-notes tbody td.delete *, table.issue-notes tbody td.delete * {
      font-size: inherit; }

table.distribution-list td.num-copies {
  text-align: right; }

table.publication-district-breakdown td.num-copies, table.issue-district-breakdown td.num-copies, table.issue-district-breakdown-orders td.num-copies {
  text-align: right; }

table.inventory {
  width: 100%; }
  table.inventory td {
    vertical-align: top;
    background: #faedcc; }
  table.inventory td.odd-col {
    background: #f8e4b3; }
  table.inventory tr.first {
    height: 1em; }
  table.inventory td.total {
    font-weight: bold;
    text-align: right; }
  table.inventory td.breakdown * {
    font-weight: bold; }
  table.inventory td.comment {
    padding-left: 1em;
    color: #666666; }
  table.inventory span.box-size {
    font-size: 0.85em;
    font-weight: normal; }
  table.inventory th {
    vertical-align: top;
    text-align: left; }
  table.inventory thead tr:first-child th {
    padding-bottom: 0; }
  table.inventory thead tr:first-child+tr th {
    padding-top: 0; }

table.customer-standing-orders, table.customer-waiting-orders, table.customer-orders {
  width: 95%;
  margin: 0.5em auto; }
  table.customer-standing-orders thead th, table.customer-waiting-orders thead th, table.customer-orders thead th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left; }
  table.customer-standing-orders thead.title, table.customer-waiting-orders thead.title, table.customer-orders thead.title {
    border: none; }
    table.customer-standing-orders thead.title th, table.customer-waiting-orders thead.title th, table.customer-orders thead.title th {
      font-size: 1em;
      text-align: left;
      padding: 4px; }
      table.customer-standing-orders thead.title th a.show-hide, table.customer-waiting-orders thead.title th a.show-hide, table.customer-orders thead.title th a.show-hide {
        font-size: 0.8em;
        color: #cccccc;
        cursor: pointer; }

table.versions {
  width: 95%;
  margin: 0.5em auto; }
  table.versions td.changes {
    padding: 0;
    overflow: hidden; }
    table.versions td.changes div {
      overflow: hidden; }
    table.versions td.changes table {
      width: 100%;
      margin: 0;
      overflow: hidden; }
      table.versions td.changes table th {
        border-left: none;
        border-right: none;
        border-top: none; }
      table.versions td.changes table td {
        border: none;
        white-space: pre-wrap;
        width: 50%; }
        table.versions td.changes table td.old {
          color: red; }

table.customer, table.special-order, table.issue, table.club {
  width: 100%;
  margin: 1em auto;
  border: 1px solid #009ee0;
  background: #f8e4b3; }
  table.customer a.show-hide, table.special-order a.show-hide, table.issue a.show-hide, table.club a.show-hide {
    font-size: 0.8em;
    color: #cccccc;
    cursor: pointer;
    text-decoration: underline; }
  table.customer thead th, table.special-order thead th, table.issue thead th, table.club thead th {
    font-weight: normal;
    text-align: left;
    background: #cc061e;
    color: white;
    padding: 10px 4px; }
  table.customer thead.title, table.special-order thead.title, table.issue thead.title, table.club thead.title {
    border: none; }
    table.customer thead.title th, table.special-order thead.title th, table.issue thead.title th, table.club thead.title th {
      font-size: 1.1em;
      background: inherit;
      color: inherit; }
  table.customer tr.odd, table.special-order tr.odd, table.issue tr.odd, table.club tr.odd {
    background: #f5db99; }
  table.customer tr.even, table.special-order tr.even, table.issue tr.even, table.club tr.even {
    background: #f8e4b3; }
  table.customer tbody th, table.special-order tbody th, table.issue tbody th, table.club tbody th {
    width: 1em;
    padding-right: 0.5em; }
  table.customer tbody th, table.customer tbody td, table.special-order tbody th, table.special-order tbody td, table.issue tbody th, table.issue tbody td, table.club tbody th, table.club tbody td {
    font-weight: normal;
    font-family: inherit;
    text-align: left;
    vertical-align: top; }
  table.customer tbody td, table.special-order tbody td, table.issue tbody td, table.club tbody td {
    padding-left: 0.5em; }
  table.customer tbody tr.footer td, table.special-order tbody tr.footer td, table.issue tbody tr.footer td, table.club tbody tr.footer td {
    padding: 4px;
    text-align: center; }
  table.customer input, table.customer select, table.customer textarea, table.special-order input, table.special-order select, table.special-order textarea, table.issue input, table.issue select, table.issue textarea, table.club input, table.club select, table.club textarea {
    background: #e4d3ac;
    border: 1px solid #cc061e;
    color: black; }
    table.customer input:focus, table.customer select:focus, table.customer textarea:focus, table.special-order input:focus, table.special-order select:focus, table.special-order textarea:focus, table.issue input:focus, table.issue select:focus, table.issue textarea:focus, table.club input:focus, table.club select:focus, table.club textarea:focus {
      background: #e4db9c;
      border-color: #ff3951; }

table.customer tbody tr.first td, table.customer tbody tr.first th {
  padding-top: 10px; }
table.customer tbody tr.last td, table.customer tbody tr.last th {
  padding-bottom: 10px; }
table.customer div.similar {
  border: 1px solid #009ee0;
  padding: 0 1em;
  font-size: 0.75em; }
  table.customer div.similar.empty {
    display: none; }
  table.customer div.similar.querying {
    background-color: #f8e473; }
  table.customer div.similar.match {
    background-color: #f8c693; }

div.report-form {
  margin: 1em; }
  div.report-form h2 {
    font-size: inherit;
    font-weight: bold;
    margin: 0; }
  div.report-form p {
    margin-top: 0;
    font-size: 0.8em; }
  div.report-form form {
    margin-top: 1em;
    margin-left: 2em; }

div.reports {
  margin-left: 168px; }

p.report {
  margin-left: 0 !important; }

iframe.svg-map {
  float: left;
  width: 600px;
  height: 581px;
  border: 2px solid black;
  margin: 0;
  padding: 0; }

form.svg-map-legend {
  float: left;
  white-space: nowrap;
  border: 2px solid black;
  padding: 1em; }
  form.svg-map-legend ul {
    margin: 0;
    padding: 0; }
  form.svg-map-legend li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.8; }
  form.svg-map-legend div.svg-map-swatch {
    display: inline-block;
    border: 1px solid black;
    width: 1em;
    height: 1em;
    margin-right: 0.25em; }

table.role-descriptions {
  border: 2px solid #009ee0; }
  table.role-descriptions thead {
    border: 2px solid #cc061e; }
    table.role-descriptions thead th {
      font-weight: normal;
      background-color: #cc061e;
      color: white;
      padding: 10px 2px; }
  table.role-descriptions tbody td {
    vertical-align: top;
    font-family: Times, serif;
    font-size: 0.9em; }
    table.role-descriptions tbody td p {
      margin: 0; }
  table.role-descriptions tbody td.title {
    font-weight: bold; }
  table.role-descriptions tbody tr.even th, table.role-descriptions tbody tr.even td {
    background: #faedcc; }
  table.role-descriptions tbody tr.odd th, table.role-descriptions tbody tr.odd td {
    background: #f8e4b3; }

form.search {
  text-align: center; }
  form.search input, form.search select {
    font-size: inherit; }
  form.search table {
    width: 100%;
    border: none; }
    form.search table td {
      border: none;
      margin: 0;
      padding: 0 6px;
      white-space: nowrap;
      width: 1em; }
      form.search table td input[type="text"] {
        width: 100%; }
    form.search table td.stretch {
      padding: 1px 3px;
      width: auto; }
  form.search table.search {
    clear: both;
    margin: 1em 5% 0.5em;
    width: 90%;
    font-size: 1.1em; }
  form.search div.facets {
    display: inline-block;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.4;
    vertical-align: middle; }
  form.search p {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 0; }
  form.search ul.facets {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: left; }
  form.search li.facet, form.search li.non-facet {
    list-style: none;
    display: inline-block;
    margin: 0 0.5em;
    padding: 0;
    background: #fffbd9; }
    form.search li.facet:hover ul, form.search li.non-facet:hover ul {
      display: block; }
  form.search h3 {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer; }
  form.search ul.rows {
    margin: 0;
    padding: 0.5em;
    display: none;
    position: absolute;
    background: #fffbd9;
    border: 2px solid #009ee0;
    border-top: none;
    z-index: 2; }
    form.search ul.rows li {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1.5; }
      form.search ul.rows li a:hover {
        text-decoration: underline; }

div#nav {
  border-bottom: 4px solid black;
  background: #cc061e;
  color: white;
  padding: 0.7em;
  line-height: 1.3em; }
  div#nav a {
    color: inherit; }
  div#nav ul.main {
    padding: 0;
    margin: 0;
    list-style: none; }
    div#nav ul.main li {
      position: relative;
      float: left;
      padding: 0 0.7em; }
      div#nav ul.main li:hover {
        background-color: #fffbd9;
        color: #cc0000; }
      div#nav ul.main li:hover div.quick-publications {
        display: block; }
    div#nav ul.main div.quick-publications {
      display: none;
      position: absolute;
      top: 1.3em;
      left: 0; }
      div#nav ul.main div.quick-publications ul {
        float: left;
        margin: 0;
        padding: 0.7em;
        list-style: none;
        background: #cc061e;
        color: white;
        border: 2px solid #009ee0; }
      div#nav ul.main div.quick-publications li {
        display: block;
        position: static;
        float: none;
        white-space: nowrap;
        margin: 0;
        padding: 0; }
        div#nav ul.main div.quick-publications li:hover {
          background: #cc061e;
          color: white; }
      div#nav ul.main div.quick-publications a {
        line-height: 1.4em; }
        div#nav ul.main div.quick-publications a:hover {
          text-decoration: underline; }
  div#nav div.admin {
    clear: left;
    margin-left: 1em;
    font-size: small; }
    div#nav div.admin p {
      margin: 0;
      padding: 0;
      display: inline; }
    div#nav div.admin ul {
      padding: 0;
      margin: 0;
      display: inline; }
      div#nav div.admin ul li {
        list-style: none;
        display: inline;
        margin: 0 0.7em; }
  div#nav div.spacer {
    height: 0;
    clear: both; }

div.fieldWithErrors {
  display: inline;
  border: 2px solid red;
  padding: 4px 2px; }

div.login {
  float: right;
  font-size: small; }
  div.login span.login {
    font-weight: bold; }
  div.login p {
    margin: 0.5em; }

div.flash {
  color: green; }

div.main {
  margin: 1em; }
  div.main >p, div.main >h1, div.main >h2, div.main >h3, div.main >ul {
    margin-left: 168px;
    padding-left: 1em; }
  div.main >p.actions {
    margin-left: 0; }

div.footer {
  margin: 1em 25%;
  border-top: 1px solid gray; }
  div.footer ul {
    margin: 0.5em auto 0;
    padding: 0;
    text-align: center; }
    div.footer ul li {
      margin: 0;
      display: inline;
      padding: 0 1em; }

textarea.note-input {
  width: 100%; }

ul.publications, ul.issues {
  list-style: none; }
  ul.publications li, ul.issues li {
    margin-left: 3em;
    padding: 0; }
    ul.publications li span, ul.issues li span {
      font-size: 1.2em;
      line-height: 150%;
      display: block;
      margin-left: -2.5em; }

.pagination {
  margin-top: 6px;
  text-align: center; }

div.errorExplanation {
  border: 2px solid black;
  padding: 1em;
  margin: 1em;
  background: #ffaaaa;
  color: #771111; }
  div.errorExplanation h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    border-bottom: 2px solid black; }
  div.errorExplanation p {
    margin: 1em 0 0 0;
    padding: 0; }
  div.errorExplanation ul {
    margin: 0 0 0 2em;
    padding: 0; }
  div.errorExplanation input, div.errorExplanation select {
    border: none;
    background: inherit;
    color: inherit;
    padding: 2px; }
