div#nav {
  border-bottom: 4px solid black;
  background: #cc061e;
  color: white;
  padding: 0.7em;
  line-height: 1.3em; }
  div#nav a {
    color: inherit; }
  div#nav ul.main {
    padding: 0;
    margin: 0;
    list-style: none; }
    div#nav ul.main li {
      position: relative;
      float: left;
      padding: 0 0.7em; }
      div#nav ul.main li:hover {
        background-color: #fffbd9;
        color: #cc0000; }
      div#nav ul.main li:hover div.quick-publications {
        display: block; }
    div#nav ul.main div.quick-publications {
      display: none;
      position: absolute;
      top: 1.3em;
      left: 0; }
      div#nav ul.main div.quick-publications ul {
        float: left;
        margin: 0;
        padding: 0.7em;
        list-style: none;
        background: #cc061e;
        color: white;
        border: 2px solid #009ee0; }
      div#nav ul.main div.quick-publications li {
        display: block;
        position: static;
        float: none;
        white-space: nowrap;
        margin: 0;
        padding: 0; }
        div#nav ul.main div.quick-publications li:hover {
          background: #cc061e;
          color: white; }
      div#nav ul.main div.quick-publications a {
        line-height: 1.4em; }
        div#nav ul.main div.quick-publications a:hover {
          text-decoration: underline; }
  div#nav div.admin {
    clear: left;
    margin-left: 1em;
    font-size: small; }
    div#nav div.admin p {
      margin: 0;
      padding: 0;
      display: inline; }
    div#nav div.admin ul {
      padding: 0;
      margin: 0;
      display: inline; }
      div#nav div.admin ul li {
        list-style: none;
        display: inline;
        margin: 0 0.7em; }
  div#nav div.spacer {
    height: 0;
    clear: both; }
