-# Local variables: customer, a Customer
.add-tag
  - if logged_in?
    = form_tag(tag_customer_path(customer)) do
      %p
        Add new tag:
        = text_field(:tag, :name)
        = submit_tag 'Add Tag'
  - else
    %p You may add new Tags to this Customer after logging in.
