%ul.sms-numbers{'data-attribute' => attribute}
  = render(collection: customer.split_sms_numbers(attribute), partial: 'editable_sms_number', as: :sms_number, locals: { customer: customer, attribute: attribute })
  %li.new-sms-number
    %a{href: new_customer_telerivet_link_path(customer_id: customer.id, attribute: attribute), class: 'in-modal-dialog'} New…
