%li.sms-number{'data-sms-number' => sms_number}
  %span.static= link_to_sms_number(customer, sms_number)
  - options_data = {}
  - if attribute == :old_sms_numbers
    - options_data[:confirm] = 'Are you sure you want to remove this SMS number? You must remove the link within Telerivet, too.'
  = button_to('×', remove_sms_number_customer_path(customer, attribute, sms_number), method: 'delete', data: options_data)
