%li.sms-number{'data-sms-number' => sms_number}
  %span.static= link_to_sms_number(customer, sms_number)
  - options_data = {}
  - if attribute == :old_sms_numbers
    - options_data[:confirm] = 'Are you sure you want to remove this SMS number? You must remove the link within Telerivet, too.'
  = link_to('×', edit_customer_telerivet_link_path(customer.id, sms_number, attribute: attribute), class: 'in-modal-dialog')
