%h1 New Tag

= error_messages_for(:tag)

= form_for(:tag, url: admin_tags_path) do |f|
  = render(partial: 'form', locals: { f: f })
  %p
    %button.debounced Create

= link_to('Back', admin_tags_path)
