= render_pretty_header 'Kinds of Orders' do
  %p
    FeminaDB has different kinds of orders: Orders, Standing Orders, and
    Waiting Orders. This page describes which orders do what.

%h2 Standing Orders

%p
  A Standing Order marks that there should be an Order for each future
  issue of a Publication. For instance, <q>Save the Children in Zanzibar
  receives 25 copies of every new Issue of Fema</q>.

%p
  Standing Orders do not relate to the past. They only relate to the next
  Issues. When a new Issue is created, the Publication's Standing Orders
  are used to create Orders for that Issue.

%p
  Only periodical Publications should have Standing Orders.

%p
  The list of all Standing Orders for a particular Publication is what we
  informally refer to as <q>The List</q>.

%h2 Orders

%p
  An Order is the physical movement of Copies from point A to point B. For
  instance, <q>Save the Children in Zanzibar received 25 copies of Fema 6
  via East Africa Movies</q>.

%p
  An Order relates to an Issue (as opposed to a Standing Order, which
  relates to a Publication).

%p
  Orders are handled by the Distribution Officer. The Distribution Officer
  must be aware of every Order.

%p
  Typically, when an Issue is created, several Orders will be filed against
  it. The Distribution Officer will ensure that the Orders are
  successfully completed; any problems will be added as Notes to the
  Customer and/or Issue in question.

%h2 Waiting Orders

%p
  A Waiting Order is <em>only</em> a planning tool. It indicates that a
  Customer <em>wants</em> new Copies of a Publication, but we may not have
  the resources to add a Standing Order.

%p
  For periodical Publications (for instance, Fema), Waiting Orders can be
  used to decide when to increase our print runs. We will add up how many
  Customers are waiting for how many Copies; then we will increase the
  print run accordingly.

%p
  For non-periodical Publications, Waiting Orders can be used to decide how
  many Copies of the next Issue to print. For instance, before we have
  finished creating the next Tiba booklet, we can add tentative orders as
  Waiting Orders. (However, if we know <em>for sure</em> that a Customer
  will receive a certain number of Copies, that should be an Order on the
  Issue and <em>not</em> a Waiting Order.)
