= render_pretty_header 'Tags' do
  %p
    Each Customer may have any number of Notes. Some of these Notes look
    special: for instance, <code>TAG_YOUTH_CONFERENCE_08</code>. These
    Notes are called Tags.

  %p
    Tags are used for searching. This document describes how to create them
    and search with them.

%h2 Creating Tags

%p
  To create a tag, you must add it to a Customer. You must be authorized to
  edit Customers to create a Tag.

%p
  Open the <q>show</q> page for a Customer. At the bottom, below the Notes,
  is a field where you may enter a Tag. Type in the tag and click
  <code>Add Tag</code>. A new Note will be added to the Customer.

%h2 Removing Tags

%p
  A Tag is simply a Note. Authorized users may delete the Note (Tag) from
  the Customer.

%h2 Searching for a Tag

%p
  Tags are used exclusively for searching. To search for all Customers who
  have the <code>TAG_YOUTH_CONFERENCE_08</code> tag, simply search for
  <code>TAG_YOUTH_CONFERENCE_08</code>. All Customers with the tag will
  appear in the Search results; all Customers without the tag will not.

%h2 Naming Tags

%p
  Tags always look like this: <code>TAG_SOME_SPECIAL_THING</code>. Only
  numbers, capital letters, and underscores (<q><code>_</code></q>) are
  allowed.

%p
  When you are writing a tag, you do not need to write the
  <code>TAG_</code> part. You also do not need to write in uppercase. The
  Tag will automatically be formatted for you.

%p
  Tags should be named appropriately so they are easy to remember and
  hold all vital information. Here are some example tags:

%ul
  %li
    <code>YOUTH_CONFERENCE_08</code>: Attended the 2008 Youth Conference.
  %li
    <code>REGIONAL_WORKSHOP_08</code>: Attended the 2008 Regional Workshop.
  %li
    <code>CLUB_REPORT_08_Q1</code>: This Customer's Club submitted its
    Club Report in the first quarter of 2008.

%h2 Example Searches

%p
  Here are some example searches which may be typed into the Customers
  search page:

%ul
  %li
    %code= link_to 'TAG_YOUTH_CONFERENCE_08', customers_path(:q => 'TAG_YOUTH_CONFERENCE_08', :page => 1)
    will find all Customers who attended the 2008 Youth Conference.
  %li
    %code= link_to 'TAG_REGIONAL_WORKSHOP_08', customers_path(:q => 'TAG_REGIONAL_WORKSHOP_08', :page => 1)
    will find all Customers who attended the 2008 Regional Workshop.
  %li
    %code= link_to 'TAG_CLUB_REPORT_08_Q1', customers_path(:q => 'TAG_CLUB_REPORT_08_Q1', :page => 1)
    will find all Customers who have Clubs which submitted reports in
    the first quarter of 2008.
