-# Required variables: "f", a form_for
%p
  %b
    %abbr{:title => 'Shown when there is very little space'} Abbreviation:
  = f.text_field :abbreviation
%p
  %b
    %abbr{:title => 'Short name of the delivery method'} Name:
  = f.text_field :name
%p
  %b
    %abbr{:title => 'Clarification of how the delivery occurs'} Description:
  = f.text_field :description
%p
  %label
    = f.check_box :include_in_distribution_quote_request
    Include Orders with this Delivery Method when creating a Distribution
    Quote Request
