-# Params: 'survey_response', a SurveyResponse
.survey-response
  .survey-response-meta
    .updated-at
      Submitted
      %time{time: survey_response.end_date}= survey_response.end_date.to_formatted_s(:long)

  = render_survey_response_answers(survey_response.answers)
