<div class="progress_bar">
  <div class="progress_bar_outside">
    <div id="standingOrderToOrderProgressBar" class="progress_bar_inside">
    </div>
  </div>
  <p id="standingOrderToOrderMessage">
    Starting up...
  </p>
  <%= periodically_call_remote :url => { :action => 'update_progress_bar' }, :frequency => 1, :method => :get %>
</div>
