%p
  %b Name
  %br
  = f.text_field(:name)

%p
  %b Delivery Method
  %br
  = f.delivery_method_field(:delivery_method_id)

%p
  %b Population
  %br
  = f.text_field(:population)
  %span.instructions (Make sure this number has no commas)

%p
  %b Council names, separated by newlines
  %br
  = f.text_area(:councils_separated_by_newline)
  %span.instructions (Users can only create Customers with one of these Council names)
