table.customer {
  ul.sms-numbers {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 1em;
    }

    form.button_to, form.button_to input {
      border: 0;
      font: inherit;
      background: transparent;
      color: $link_color;
    }

    input[name=sms_number] {
      border-right: 0;
    }
  }

  .council-corrector {
    display: inline-block;
    font-size: .8rem;
    padding-left: .5rem;
    color: $faded-color;

    span.invalid {
      font-weight: bold;
      color: $error_color;
    }

    select {
      opacity: .5;
    }
  }
}

section.sms-messages {
  width: 95%;
  margin: 1rem auto;
  border: 2px solid $border_color;

  h2 {
    margin: 0;
    color: $alt_color;
    background-color: $alt_background_color;
    font: inherit;
    padding: .5rem;
  }

  .sms-messages-container {
    padding: .5rem;
  }
}

body.customers-index {
  tr.num-copies {
    input { width: 4rem; }
    small { color: $faded_color; }
  }
}

table.customers .customer-tags-field {
  float: right;
  text-align: right;
  max-width: 50%;
  white-space: normal;

  .selectize-control.multi { // specificity
    margin-top: -.2rem;
    margin-bottom: -.3rem;
  }
}

body.customers-show .customer-tags-field {
  .selectize-input {
    ::-webkit-input-placeholder { /* Chrome */
      color: white;
      opacity: .8;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
      opacity: .8;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
      opacity: .8;
    }
    input {
      color: white;
    }
  }
}

.customer-tags-field {
  min-width: 8rem; // for drop-down items
  width: auto;

  .selectize-control.multi { // specificity
    font-size: 0;
    margin-top: -.2rem;
    margin-bottom: -.3rem;

    input {
      cursor: pointer;
    }

    .selectize-input {
      border: 0;
      padding: 0;
      border-radius: 0;
      background: transparent;
      box-shadow: none;

      .selectize-tag {
        text-shadow: none;
        border-radius: 0;
        background: transparent;
        border: 1px solid white;
        padding: 0;
        box-shadow: none;
        line-height: 1;
        text-align: left;
        border-radius: .125rem;

        &.active {
          border-color: black;
          border-radius: .25rem;
        }
      }
    }
  }
}

body.customers-show {
  // JS will add ".customer-ids-nav"; we don't want the table to jump down
  // after the JS adds it, so we'll make it position:absolute and set a margin
  // above the table where it will fit in.
  table.customer {
    margin-top: 2rem;
  }

  .customer-ids-nav {
    height: 0;
    position: relative;

    a {
      display: block;
      position: absolute;
      top: 0;

      &:not([href]) {
        color: $faded_color;
        cursor: pointer;
      }

      &.previous {
        &::before {
          content: '« ';
        }

        left: 0;
      }
      &.next {
        &::after {
          content: ' »';
        }
        right: 0;
      }
    }
  }
}
