table.customer {
  ul.sms-numbers {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 1em;
    }

    form.button_to, form.button_to input {
      border: 0;
      font: inherit;
      background: transparent;
      color: $link_color;
    }

    input[name=sms_number] {
      border-right: 0;
    }
  }
}

section.sms-messages {
  width: 95%;
  margin: 1rem auto;
  border: 2px solid $border_color;

  h2 {
    margin: 0;
    color: $alt_color;
    background-color: $alt_background_color;
    font: inherit;
    padding: .5rem;
  }

  .sms-messages-container {
    padding: .5rem;
  }
}
