@import 'vars';

table.customers, table.customer-orders, table.customer-standing-orders, table.customer-notes, table.issue-orders, table.issue-notes, table.report, table.distribution-quote-request, table.distribution-list, table.customer-types, table.inventory, table.users, table.regions, table.delivery-methods, table.audits, table.issues {
  border: 2px solid $border_color;
  margin: 1em auto;

  tbody {
    th, td {
      border-bottom: 1px solid $border_color;
      border-left: 0;
      border-right: 0;
    }

    td {
      font-family: serif;
      font-size: 0.9rem;
      padding: .5rem .75rem;

      .add {
        text-align: center;
      }
    }

    tr.even {
      th, td {
        background: $even_background_color;
      }
    }

    tr.odd {
      th, td {
        background: $odd_background_color;
      }
    }

    tr.total {
      border: 2px solid $border_color;
      font-weight: bold;
      background: $alt_background_color;
    }

    tr.subtotal {
      background: $alt2_background_color;
      border-bottom: 2px solid $border_color;
      font-weight: bold;
    }

    tr.subsubtotal {
      background: $alt2_background_color;
      border-bottom: 2px solid gray;
      font-weight: bold;
    }
  }
}

// Tables which have no "thead.title"
table.customers, table.issue-orders, table.report, table.distribution-list, table.customer-types, table.users, table.regions, table.delivery-methods, table.audits, table.issues {
  thead {
    th {
      border-bottom: 0;
      font-weight: normal;
      background-color: $alt_background_color;
      color: $alt_color;
      padding: .5rem 6px .25rem;

      a {
        color: inherit;
        background-color: inherit;
        text-decoration: underline;
      }
    }
  }
}

// Tables which have a "thead.title"
table.customer-orders, table.customer-standing-orders, table.customer-notes, table.issue-notes, table.distribution-quote-request, table.inventory {
  thead.title {
    th {
      font-weight: normal;
      background-color: $alt_background_color;
      color: $alt_color;
      padding: .5rem 6px .25rem;

      a {
        background-color: $alt_background_color;
        color: $alt_color;
        text-decoration: underline;
      }
    }
  }

  thead {
    background: $alt2_background_color;
    color: $alt2_color;

    th {
      font-weight: normal;
    }
  }
}

table.customers {
  width: 100%;

  td.region, td.council, td.type, td.actions, td.standing-orders, td.club {
    width: 1em;
  }

  td.customer-name {
    max-width: 1em; // works with .cut-off
  }

  td.standing-orders {
    text-align: right;
    font-family: monospace;
  }

  td.type, td.club {
    text-align: center;
  }
}

table.customers td.standing-orders, table.issue-orders td.qty, table.customer-orders td.num-copies {
  a {
    display: block;
    position: relative;
    font-family: monospace;
    background-color: inherit;
    width: 100%;
    height: 100%;
  }
}

table.customer-standing-orders {
  td.publication, td.num-copies, td.request-date, td.created-at {
    width: 1em;
  }

  td.num-copies {
    text-align: right;
  }
}

table.customer-orders {
  td.publication, td.issue_number, td.num-copies, td.order_date, td.status, td.delivery_method {
    width: 1em;
  }

  td.num-copies {
    text-align: right;
  }

  td.order_date, td.delivery_method {
    text-align: center;
  }
}

table.customer-standing-orders, table.customer-orders, table.customer-notes, table.issue-notes {
  margin-bottom: 1em;

  tbody {
    td {
      vertical-align: top;
      border-bottom: 1px solid $border_color;
    }
  }
}

table.customer-notes, table.issue-notes {
  td.user, td.date, td.actions {
    width: 1em;
  }
}

table.issue-orders {
  width: 100%;

  td.delivery-method, td.region, td.council, td.qty, td.actions {
    width: 1em;
  }

  td.qty {
    text-align: right;
  }

  td.customer {
    width: auto;
  }
}

table.customer-standing-orders, table.customer-orders, table.customer-notes, table.issue-notes {
  width: 100%;
  margin-bottom: 1em;

  tbody {
    td.actions {
      width: 1em;
    }

    td.num-copies {
      text-align: right;
    }

    td.delete {
      text-align: center;
      font-size: smaller;

      * {
        font: inherit;
      }
    }
  }
}

table.customer-orders {
  td.num-copies, td.order-date, td.delivery-method, td.actions {
    width: 1em;
  }

  td.issue, td.comments {
    max-width: 1em; // works with .cut-off
  }

  tr.has-comments td {
    border-bottom: 0;
  }

  tr.comments td {
    padding-top: 0;
    color: $faded_color;
  }
}

table.distribution-list {
  td.num-copies {
    text-align: right;
  }
}

table.inventory {
  width: 100%;

  td {
    vertical-align: top;
    background: $even_background_color;
  }

  td.odd-col {
    background: $odd_background_color;
  }

  tr.first {
    height: 1em;
  }

  td.total {
    font-weight: bold;
    text-align: right;
  }

  td.comment {
    padding-left: 1em;
    color: $faded_color;
  }

  span.box-size {
    font-size: 0.85em;
    font-weight: normal;
  }

  th {
    vertical-align: top;
    text-align: left;
  }

  thead tr:first-child {
    th {
      padding-bottom: 0;
    }

    &+tr th {
      padding-top: 0;
    }
  }
}

table.customer-standing-orders, table.customer-orders {
  width: 95%;
  margin: 0.5em auto;

  thead {
    th {
      padding-top: 4px;
      padding-bottom: 4px;
      text-align: left;
    }
  }

  thead.title {
    border: none;

    th {
      font-size: 1em;
      text-align: left;
      padding: 4px;

      a.show-hide {
        font-size: 0.8em;
        color: #cccccc;
        cursor: pointer;
      }
    }
  }
}

table.audits {
  width: 95%;
  margin: 0.5em auto;

  td {
    vertical-align: top;
  }

  td.change_before, td.change_after {
    div {
      overflow: hidden;
    }
  }

  a.history {
    display: block;
    font-size: 0.9em;
    text-align: right;
  }
}
