@import 'vars';

table.role-descriptions {
  border: 2px solid $border_color;

  thead {
    border: 2px solid $heading_border_color;

    th {
      font-weight: normal;
      background-color: $alt_background_color;
      color: $alt_color;
      padding: 10px 2px;
    }
  }

  tbody {
    td {
      vertical-align: top;
      font-family: Times, serif;
      font-size: .9em;

      p {
        margin: 0;
      }
    }

    td.title {
      font-weight: bold;
    }

    tr.even {
      th, td {
        background: $even_background_color;
      }
    }

    tr.odd {
      th, td {
        background: $odd_background_color;
      }
    }
  }
}
