@import 'vars';

header {
  @include clearfix();
  margin-bottom: 1rem;
}

div.logo {
  float: left;
  width: $logo_width;
}

div.pretty-header {
  margin-left: $logo_width;
  padding-left: 1em;

  h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 1.5em;
  }
}
