@import 'vars';

div.logo {
  float: left;
  width: 168px;
}

div.pretty-header {
  margin-left: 168px;
  padding-left: 1em;

  h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 1.5em;
  }
}
