@import 'vars';

.customer-search {
  form {
    display: -webkit-flex;
    display: flex;
    font-size: 1.2rem;
    line-height: 2.25rem;

    label, input {
      margin: 0 .1rem;
    }

    label {
      // Assume inputs have 2px borders
      border: 2px solid transparent;
    }

    input[name=q] {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    input {
      padding: 0 .75rem;
      font: inherit;
    }
  }

  .help {
    font-size: small;
    text-align: center;
  }

  div.count {
    text-align: center;
    margin: .75rem;
  }

  div.facets {
    text-align: center;
    font-size: .9rem;
    line-height: 1.4;

    ul.facets {
      display: inline;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    span.title, li.facet {
      display: inline-block;
      margin: 0 .5rem;

      ul {
        display: none;
      }

      &:hover ul {
        display: block;
      }
    }

    li.row a {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;

      .count {
        padding-left: 1rem;
        color: $faded_color;
      }
    }
  }

  h3 {
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
  }

  ul.rows {
    margin: 0;
    padding: .5em;
    display: none;
    position: absolute;
    background: $background_color;
    border: 2px solid $border_color;
    border-top: none;
    z-index: 2;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1.5;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
