$background_color: #fffbd9;
$alt_background_color: #cc061e;
$alt_color: white;
$inverse_border_color: #990000;
$alt2_background_color: black;
$alt2_color: yellow;
$error_background_color: #ffaaaa;
$error_color: #771111;
$heading_border_color: #cc061e;
$border_color: #009ee0;
$color: black;
$link_color: #cc0000;
$flash_color: green;
$input_color: black;
$input_background_color: #e4d3ac;
$input_focus_background_color: #e4db9c;
$input_highlight_background_color: #ececac;
$input_border_color: $alt_background_color;
$input_focus_border_color: $alt_background_color + #333;
$even_background_color: #faedcc;
$odd_background_color: #f8e4b3;
$horiz_heading_color: #f2d280;
$horiz_odd_background_color: #f5db99;
$horiz_even_background_color: $odd_background_color;
$progress_bar_empty_color: white;
$progress_bar_full_color: blue;
$faded_color: #666;
