-# Required local variables: "f", a form
-# Required instance variables: "user", a user

%p
  %b Email:
  = f.text_field :email

%p
  %b Roles:
  = f.text_field :roles
  %span.help Separate roles by spaces. Valid roles are <code>admin</code>, <code>edit-customers</code>, <code>edit-issues</code>, <code>edit-orders</code>.
