-# Called with "term" and (maybe-null) "definition"
%div.glossary
  %span.term= term
  - if definition
    %div.definition
      %div= definition
      %p= link_to('Glossary', 'http://wiki/FeminaDbGlossary', :popup => true)
