-# Called with "term" and (maybe-null) "definition"
%span.glossary
  %span.term= term
  - if definition
    %span.definition
      = textilize(definition)
      = link_to('Glossary', 'http://wiki/FeminaDbGlossary', :popup => true)
