-# Required variables:
-# - "title", the title;
-# - "description", HTML to append

%div.logo
  = image_tag 'logo.png'

%div.pretty-header
  %h1= title

  = description

<div style="clear: both;"></div>
