-# Required variables:
-# - "title", the title;
-# - "description", HTML to append
%header
  .logo= image_tag('logo.png', width: 84, height: 'auto')

  .pretty-header
    %h1= title
    = description
