#map
  - if report.respond_to?(:map_hints)
    .hints{:style => 'display:none;'}= report.map_hints.to_json
  %iframe.svg-map{:src => image_path('tanzania-districts.svg')}
    Sorry: the map isn't loaded.

%div{:style => 'margin:0;padding:0;'}
