= render_pretty_header 'Reports' do
  %p
    Reports are statistics and graphs. Below is a list of reports which
    can be displayed. Click next to each Report's name to see details.

%h3 Tables

%p= link_to('Issues by date', data_issues_path)

%h3 Charts (with tables)

.reports
  - Report::Base.all_reports.each do |klass|
    = render :partial => 'report_form', :locals => { :klass => klass }
